/* Vars:
  ========================================================================== */

// Font
$mainFont                : 'Roboto-Regular', Arial, sans-serif;
$secondaryFont           : 'Lato-Regular', Arial, sans-serif;
$additionalFont          : "Arial-Regular", sans-serif;

// Size
$mainFontSize            : 14px;
$mainFontWeight          : 400;
$mainLineHeight          : 16px;

$desktopWidth            : 1280px;
$smDesktopWidth          : 1024px;
$tableWidth              : 867px;
// $tableWidth              : 768px;
$smTableWidth            : 640px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;



//Font colors
$mainFontColor           : #52575C;
$secondaryFontColor      : #25282B;

// Main color(background\btn) - лучше переменным не давать назвния цветов
$default-color           : #ffffff;
$primary-color           : #F9F9FA;
$danger-color            : #E93C3C;
$danger-secondary        : #EB4747;
$light-color             : #1A8BFF;
$light-secondary         : #007EFF;
$dark-color              : #000000;
$danger-hover            : #c71616;

 


// Neutral Color
$neutral-primary         : #F2F2F2;
$neutral-secondary       : #A0A4A8;
$neutral-regular         : #828282;

// $neutral-placeholder     : #C0C4CC;

// Border Color
$border-base             : #CACCCF;
$border-danger           : #FF6262;
$border-light            : #E8E8E8;

// $border-lighter          : #EBEEF5;
// $border-lightex          : #F2F6FC;




 


