/* The container must be positioned relative: */
//select-order - заменить на DIV в котором Select таг

.select-order {
    position: relative;
  }
  
  .select-order select {
    display: none; /*hide original SELECT element: */
  }
  
  .select-selected {
    background-color: $default-color ;
    background: url(../../img/svg/iconArrowBottom.svg) no-repeat right/rem(10) rem(10);
    background-position: 95% 50%;
  }
  
  /* Style the arrow inside the select element: */
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    // width: 0;
    // height: 0;
    // border: 6px solid transparent;
    // border-color: #fff transparent transparent transparent;
  }
  
  /* Point the arrow upwards when the select box is open (active): */
//   .select-selected.select-arrow-active:after {
//     border-color: transparent transparent #fff transparent;
//     top: 7px;
//   }
  
  /* style the items (options), including the selected item: */
  .select-items div,.select-selected {
    color: $mainFontColor;
    padding: rem(5) 0 rem(5) rem(10);
    border: 1px solid transparent;
    // border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
  }
  
  /* Style items (options): */
  .select-items {
    position: absolute;
    background-color: $default-color;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    box-shadow: 0px 12px 20px -5px rgba(0,0,0,0.75);
  }
  
  /* Hide the items when the select box is closed: */
  .select-hide {
    display: none;
  }
  
//   .select-items div:hover, .same-as-selected {
//     color: $default-color ;
//     background-color: $light-secondary;
//   }

.select-items div:hover{
    color: $default-color ;
    background-color: $light-secondary;
  }